<!doctype html>
<html>
    <head>
        <title>My List</title>
    </head>
    <body>
        <main>
            <h1>My List</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Number of Items
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list_object.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ todo_list.task | length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
